<%= form_for(@projet) do |f|%>
<%= render 'shared/error_messages_project', :object => f.object %>
<div class="field">
  	<%= f.label :Veuillez_donner_un_nom_au_projet %> <br />
  	<%= f.text_field :question1, :size=>23, :cols => "30", :rows => "14" %>
  </div>
  
  <div class="field">
  	<%= f.label :question2 %> <br />
  	<%= f.text_field :question2, :size=>23 %>
  </div>
  
  <div class="field">
  	<%= f.label :question3 %> <br />
    <%= f.check_box :question3 , {:class => "ja_nein"}, "OUI", "NON" %>
  </div>
   <div class="field">
  	<%= f.label :question4 %> <br />
    <%= f.check_box :question4 , {:class => "ja_nein"}, "OUI", "NON" %>
  </div>
   <div class="field">
  	<%= f.label :question5 %> <br />
    <%= f.check_box :question5 , {:class => "ja_nein"}, "OUI", "NON" %>
  </div>
   <div class="field">
  	<%= f.label :question6 %> <br />
    <%= f.check_box :question6 , {:class => "ja_nein"}, "OUI", "NON" %>
  </div>
   <div class="field">
  	<%= f.label :question7 %> <br />
    <%= f.check_box :question7 , {:class => "ja_nein"}, "OUI", "NON" %>
  </div>
   <div class="field">
  	<%= f.label :question8 %> <br />
    <%= f.check_box :question8 , {:class => "ja_nein"}, "OUI", "NON" %>
  </div>
   <div class="field">
  	<%= f.label :question9 %> <br />
    <%= f.check_box :question9 , {:class => "ja_nein"}, "OUI", "NON" %>
  </div>
   <div class="field">
  	<%= f.label :question10 %> <br />
    <%= f.check_box :question10 , {:class => "ja_nein"}, "OUI", "NON" %>
  </div>
   <div class="field">
  	<%= f.label :question11 %> <br />
    <%= f.check_box :question11 , {:class => "ja_nein"}, "OUI", "NON" %>
  </div>
   <div class="field">
  	<%= f.label :question12 %> <br />
    <%= f.check_box :question12 , {:class => "ja_nein"}, "OUI", "NON" %>
  </div>
   <div class="field">
  	<%= f.label :question13 %> <br />
    <%= f.check_box :question13 , {:class => "ja_nein"}, "OUI", "NON" %>
  </div>
   <div class="field">
  	<%= f.label :question14 %> <br />
    <%= f.check_box :question14 , {:class => "ja_nein"}, "OUI", "NON" %>
  </div>
   <div class="field">
  	<%= f.label :question15 %> <br />
    <%= f.check_box :question15 , {:class => "ja_nein"}, "OUI", "NON" %>
  </div>
   <div class="field">
  	<%= f.label :question16 %> <br />
    <%= f.check_box :question16 , {:class => "ja_nein"}, "OUI", "NON" %>
  </div>
   <div class="field">
  	<%= f.label :question17 %> <br />
    <%= f.check_box :question17 , {:class => "ja_nein"}, "OUI", "NON" %>
  </div>
   <div class="field">
  	<%= f.label :question18 %> <br />
    <%= f.check_box :question18 , {:class => "ja_nein"}, "OUI", "NON" %>
  </div>
   <div class="field">
  	<%= f.label :question19 %> <br />
    <%= f.check_box :question19 , {:class => "ja_nein"}, "OUI", "NON" %>
  </div>
   <div class="field">
  	<%= f.label :question20 %> <br />
    <%= f.check_box :question20 , {:class => "ja_nein"}, "OUI", "NON" %>
  </div>
   <div class="field">
  	<%= f.label :question21 %> <br />
    <%= f.check_box :question21 , {:class => "ja_nein"}, "OUI", "NON" %>
  </div>
   <div class="field">
  	<%= f.label :question22 %> <br />
    <%= f.check_box :question22 , {:class => "ja_nein"}, "OUI", "NON" %>
  </div>
   <div class="field">
  	<%= f.label :question23 %> <br />
    <%= f.check_box :question23 , {:class => "ja_nein"}, "OUI", "NON" %>
  </div>
   <div class="field">
  	<%= f.label :question24 %> <br />
    <%= f.check_box :question24 , {:class => "ja_nein"}, "OUI", "NON" %>
  </div>
   <div class="field">
  	<%= f.label :question25 %> <br />
    <%= f.check_box :question25 , {:class => "ja_nein"}, "OUI", "NON" %>
  </div>
   <div class="field">
  	<%= f.label :question26 %> <br />
    <%= f.check_box :question26 , {:class => "ja_nein"}, "OUI", "NON" %>
  </div>
   <div class="field">
  	<%= f.label :question27 %> <br />
    <%= f.check_box :question27 , {:class => "ja_nein"}, "OUI", "NON" %>
  </div>
   <div class="field">
  	<%= f.label :question28 %> <br />
    <%= f.check_box :question28 , {:class => "ja_nein"}, "OUI", "NON" %>
  </div><br />
   <div class="field">
  	<%= f.label :question29 %> <br />
    <%= f.check_box :question29 , {:class => "ja_nein"}, "OUI", "NON" %>
  </div>
   <div class="field">
  	<%= f.label :question30 %> <br />
    <%= f.check_box :question30 , {:class => "ja_nein"}, "OUI", "NON" %>
  </div>
  
 <div class="action">
    <%= f.submit "envoyer" %>	
 </div>
<%end%>