<div id="slideshow">
<div id="slideshowWindow">
<div class="slide">	
<%=image_tag "new1.png"%>
<div class="slideText">
<h2 class="slideTitle"></h2>
<ul class="slideDes">
  
  
</ul>

<p class="slideLink">
<!--<%=link_to "click here", "#", :remote => true%>-->
</p>
</div>
</div>
<!--
<div class="slide">
<%=image_tag "back1.png"%>
<div class="slideText">
<h2 class="slideTitle">Slide 2</h2>
<p class="slideDes">
Lorem ipsum dolor sit amet, consectetur adipisicing elit,
sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
<p>
<p class="slideLink">
<%=link_to "click here", "#", :remote => true%>
</p>
</div>

</div>-->

<div class="slide">
<%=image_tag "web12.png"%>

<!--<div class="slideText">
<h2 class="slideTitle">Slide 3</h2>
<p class="slideDes">
Lorem ipsum dolor sit amet, consectetur adipisicing elit,
sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
<p>
<p class="slideLink">
<%=link_to "click here", "#", :remote => true%>
</p>
</div>-->
</div>

</div>
</div>